data/maps/map.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT map (informations, layer*)>
<!ELEMENT informations (author, name, description?)>
<!ELEMENT layer (#PCDATA)>
<!ELEMENT author (#PCDATA)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT version (#PCDATA)>
<!ELEMENT description (#PCDATA)>
<!ATTLIST layer type (background|ground|explosion) #REQUIRED>
